:root {
  --primary-color: rgba(0, 0, 0, 0.5);
  --primary-color-light: rgba(0, 0, 0, 0.5);
  --secondary-color: #f49e09;
  --extra-light: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --max-width: 2500px;
  --header-font: "Lisu Bosa", serif;
}
body{
  font-family: Arial, sans-serif;
  background-image: url(assets/admin.jpg);
  background-repeat: no-repeat; /* Kikapcsolja az ismétlődést */
  background-size: cover; /* A kép kitölti a teljes elemet */
  background-position: center;
  color: var(--white);
  margin: 0;
  padding: 0;
}
h1{
  color: var(--secondary-color); 
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
  font-family: var(--header-font);
}
.urlap {
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.urlap h1 {
  color: var(--secondary-color); 
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
  font-family: var(--header-font);
}

.urlap h2 {
  color: var(--secondary-color); 
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
  font-family: var(--header-font);
}

.urlap label {
  color: #f49e09;
  font-weight: bold;
  margin-right: 10px;
}

.urlap input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 8px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color-light);
  color: var(--primary-color);
}

.urlap button {
  padding: 8px 15px;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.urlap button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
a{
  margin-top: 20px;
  color: #ffffff;
  font-size: 1,5em;
  margin-bottom: 15px;
  text-align: center;
}
a:hover{
  color: #f49e09;
}
.kozep{
  text-align: center;
}
